<div>
    <input [(ngModel)]="name" type="text" placeholder="Наименование товара">
    <input [(ngModel)]="price" type="number" placeholder="Цена товара">
    <input [(ngModel)]="quantity" type="number" placeholder="Количество">
    <button (click)="addToBag(name,price,quantity)"> Добавить</button>
</div>
<div>
<table>
  <thead>
    <tr>Корзина {{total}}</tr>
    <tr>
      <th>Наименование</th>
      <th>Цена, руб.</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
      </tr>
  </tbody>
</table>
</div>
<router-outlet></router-outlet>